.payment {
    width: 100%;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding: 120px 48px;
}

.payment-title {
    font-family: "Stetica";
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    color: var(--white);
}

.payment-row {
    width: 100%;
    display: flex;
    column-gap: 200px;
    flex-direction: row;
}

.payment-row__pay {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.payment-row__pay-item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: start;
}

.payment-row__pay-item-title {
    font-family: "Stetica";
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: var(--white);
    opacity: 0.72;
}

.payment-row__pay-item-row {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
    margin-top: 20px;
}

.payment-row__pay-item-row-circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-row__pay-item-row-circle-icon {
    width: 40px;
    height: 40px;
}

.payment-row__pay-item-row-text {
    padding: 8px 16px;
    background: #FFFFFF29;
    border-radius: 6px;
    font-family: "Stetica";
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: var(--white);
}

.payment-row__pay-item-range {
    -webkit-appearance: none;
    width: 902px !important;
    border-radius: 100px;
    outline: none;
    overflow: hidden;
    position: relative;
	background: #fff0;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-thumb {
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax #fff;
	width: 24px;
    height: 24px;
	background: #fff;
	background-color: #fff;
	box-shadow: var(--box-fill);
	border-radius: 100px;

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"] {
    font-size: 1.5rem;
	color: #fff;
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: #FFFFFF29;
	--clip-edges: 0.125em;
}

input[type="range"]:hover {
	cursor: grabbing;
}

.payment-row__pay-item-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.payment-row__pay-item-bottom-price {
    font-family: 'Stetica';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--white);
    opacity: 0.64;
}

.payment-row__col {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 32px;
}

.payment-row__col-title {
    font-family: 'Stetica';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--white);
    opacity: 0.72;
}
.payment-row__col-price {
    font-family: 'Stetica';
    font-weight: 400;
    font-size: 120px;
    line-height: 120px;
    color: var(--white);
    margin-top: 24px;
}
.payment-row__col-pere {
    font-family: 'Stetica';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--white);
}

.payment-row__col-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
    cursor: pointer;
    margin-top: auto;
}

.payment-row__col-row-circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-row__col-row-circle-icon {
    width: 32px;
    height: 32px;
}

.payment-row__col-row-text {
    font-family: 'Stetica';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

@media (min-width: 1440px) and (max-width: 1919px) {
.payment {
    row-gap: 64px;
    padding: 100px 48px;
}

.payment-title {
    font-size: 64px;
    line-height: 100%;
}

.payment-row {
    column-gap: 200px;
}

.payment-row__pay {
    row-gap: 48px;
}

.payment-row__pay-item {
    row-gap: 16px;
}

.payment-row__pay-item-title {
    font-size: 32px;
    line-height: 40px;
}

.payment-row__pay-item-row {
    column-gap: 16px;
    margin-top: 20px;
}

.payment-row__pay-item-row-circle {
    width: 64px;
    height: 64px;
}

.payment-row__pay-item-row-circle-icon {
    width: 40px;
    height: 40px;
}

.payment-row__pay-item-row-text {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 32px;
    line-height: 32px;
}

.payment-row__pay-item-range {
    width: 700px !important;
    border-radius: 100px;
}

.payment-row__pay-item-bottom {
    width: 100%;
}

.payment-row__pay-item-bottom-price {
    font-size: 24px;
    line-height: 32px;
}

.payment-row__col {
    row-gap: 32px;
    margin-right: auto;
}

.payment-row__col-title {
    font-size: 32px;
    line-height: 40px;
}
.payment-row__col-price {
    font-size: 120px;
    line-height: 120px;
    margin-top: 24px;
}
.payment-row__col-pere {
    font-size: 32px;
    line-height: 40px;
}

.payment-row__col-row {
    column-gap: 18px;
    margin-top: auto;
}

.payment-row__col-row-circle {
    width: 64px;
    height: 64px;
}

.payment-row__col-row-circle-icon {
    width: 32px;
    height: 32px;
}

.payment-row__col-row-text {
    font-size: 18px;
    line-height: 24px;
}
}

@media (min-width: 1024px) and (max-width: 1439px) {
.payment {
    row-gap: 48px;
    padding: 80px 36px;
}

.payment-title {
    font-size: 52px;
    line-height: 100%;
}

.payment-row {
    column-gap: 100px;
}

.payment-row__pay {
    row-gap: 36px;
}

.payment-row__pay-item {
    row-gap: 12px;
}

.payment-row__pay-item-title {
    font-size: 30px;
    line-height: 38px;
}

.payment-row__pay-item-row {
    column-gap: 14px;
    margin-top: 18px;
}

.payment-row__pay-item-row-circle {
    width: 54px;
    height: 54px;
}

.payment-row__pay-item-row-circle-icon {
    width: 36px;
    height: 36px;
}

.payment-row__pay-item-row-text {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 28px;
    line-height: 100%;
}

.payment-row__pay-item-range {
    width: 500px !important;
    border-radius: 100px;
}

.payment-row__pay-item-bottom {
    width: 100%;
}

.payment-row__pay-item-bottom-price {
    font-size: 22px;
    line-height: 30px;
}

.payment-row__col {
    row-gap: 20px;
    margin-right: auto;
}

.payment-row__col-title {
    font-size: 28px;
    line-height: 36px;
}

.payment-row__col-price {
    font-size: 100px;
    line-height: 100px;
    margin-top: 30px;
}

.payment-row__col-pere {
    font-size: 28px;
    line-height: 36px;
}

.payment-row__col-row {
    column-gap: 18px;
    margin-top: auto;
}

.payment-row__col-row-circle {
    width: 48px;
    height: 48px;
}

.payment-row__col-row-circle-icon {
    width: 26px;
    height: 26px;
}

.payment-row__col-row-text {
    font-size: 16px;
    line-height: 22px;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
.payment {
    row-gap: 40px;
    padding: 48px 26px;
}

.payment-title {
    font-size: 40px;
    line-height: 100%;
}

.payment-row {
    flex-direction: column;
    row-gap: 24px;
}

.payment-row__pay {
    row-gap: 24px;
}

.payment-row__pay-item {
    row-gap: 12px;
    border-bottom: 1px solid #5181C9;
    padding-bottom: 24px;
}

.payment-row__pay-item-title {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__pay-item-row {
    column-gap: 12px;
    margin-top: 4px;
}

.payment-row__pay-item-row-circle {
    width: 40px;
    height: 40px;
}

.payment-row__pay-item-row-circle-icon {
    width: 25px;
    height: 25px;
}

.payment-row__pay-item-row-text {
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 24px;
    line-height: 28px;
}

.payment-row__pay-item-range {
    width: 100% !important;
    border-radius: 100px;
}

.payment-row__pay-item-bottom {
    width: 100%;
}

.payment-row__pay-item-bottom-price {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col {
    row-gap: 12px;
    margin-right: 0;
    width: 100%;
}

.payment-row__col-title {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col-price {
    font-size: 64px;
    line-height: 100%;
    margin-top: 12px;
}

.payment-row__col-pere {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col-row {
    column-gap: 12px;
    margin-top: 28px;
    flex-direction: row-reverse;
    height: 48px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    background: white;
}

.payment-row__col-row-circle {
    width: 26px;
    height: 26px;
    background: var(--blue);
}

.payment-row__col-row-circle-icon {
    width: 24px;
    height: 24px;
}

.payment-row__col-row-circle-icon path {
    stroke: var(--white);
}

.payment-row__col-row-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text);
}
}

@media (min-width: 440px) and (max-width: 767px) {
.payment {
    row-gap: 40px;
    padding: 48px 16px;
}

.payment-title {
    font-size: 32px;
    line-height: 100%;
}

.payment-row {
    flex-direction: column;
    row-gap: 24px;
}

.payment-row__pay {
    row-gap: 24px;
}

.payment-row__pay-item {
    row-gap: 12px;
    border-bottom: 1px solid #5181C9;
    padding-bottom: 24px;
}

.payment-row__pay-item-title {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__pay-item-row {
    column-gap: 12px;
    margin-top: 4px;
}

.payment-row__pay-item-row-circle {
    width: 40px;
    height: 40px;
}

.payment-row__pay-item-row-circle-icon {
    width: 25px;
    height: 25px;
}

.payment-row__pay-item-row-text {
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 24px;
    line-height: 28px;
}

.payment-row__pay-item-range {
    width: 100% !important;
    border-radius: 100px;
}

.payment-row__pay-item-bottom {
    width: 100%;
}

.payment-row__pay-item-bottom-price {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col {
    row-gap: 12px;
    margin-right: 0;
    width: 100%;
}

.payment-row__col-title {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col-price {
    font-size: 64px;
    line-height: 100%;
    margin-top: 12px;
}

.payment-row__col-pere {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col-row {
    column-gap: 12px;
    margin-top: 28px;
    flex-direction: row-reverse;
    height: 48px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    background: white;
}

.payment-row__col-row-circle {
    width: 26px;
    height: 26px;
    background: var(--blue);
}

.payment-row__col-row-circle-icon {
    width: 24px;
    height: 24px;
}

.payment-row__col-row-circle-icon path {
    stroke: var(--white);
}

.payment-row__col-row-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text);
}
}

@media (max-width: 439px) {
.payment {
    row-gap: 40px;
    padding: 48px 16px;
}

.payment-title {
    font-size: 32px;
    line-height: 100%;
}

.payment-row {
    flex-direction: column;
    row-gap: 24px;
}

.payment-row__pay {
    row-gap: 24px;
}

.payment-row__pay-item {
    row-gap: 12px;
    border-bottom: 1px solid #5181C9;
    padding-bottom: 24px;
}

.payment-row__pay-item-title {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__pay-item-row {
    column-gap: 12px;
    margin-top: 4px;
}

.payment-row__pay-item-row-circle {
    width: 40px;
    height: 40px;
}

.payment-row__pay-item-row-circle-icon {
    width: 25px;
    height: 25px;
}

.payment-row__pay-item-row-text {
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 24px;
    line-height: 28px;
}

.payment-row__pay-item-range {
    width: 100% !important;
    border-radius: 100px;
}

.payment-row__pay-item-bottom {
    width: 100%;
}

.payment-row__pay-item-bottom-price {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col {
    row-gap: 12px;
    margin-right: 0;
    width: 100%;
}

.payment-row__col-title {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col-price {
    font-size: 64px;
    line-height: 100%;
    margin-top: 12px;
}

.payment-row__col-pere {
    font-size: 20px;
    line-height: 24px;
}

.payment-row__col-row {
    column-gap: 12px;
    margin-top: 28px;
    flex-direction: row-reverse;
    height: 48px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    background: white;
}

.payment-row__col-row-circle {
    width: 26px;
    height: 26px;
    background: var(--blue);
}

.payment-row__col-row-circle-icon {
    width: 24px;
    height: 24px;
}

.payment-row__col-row-circle-icon path {
    stroke: var(--white);
}

.payment-row__col-row-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text);
}
}