<div class="discount">
      <div class="discount-wrapper">
        <h2 class="discount-wrapper__title">Скидка на диагностику 20% весь апрель!</h2>
        <p class="discount-wrapper__text">Своевременно выполненная диагностика АКПП позволяет обнаруживать мелкие неисправности и приступить к их устранению еще до возникновения серьезных проблем. </p>
        <p class="discount-wrapper__dop">*Бесплатная диагностика АКПП проводится при последующем ремонте в нашем сервисе. В случае отказа от ремонта оплачивается согласно действующему прейскуранту. Подробности уточняйте у менеджеров.</p>
      </div>
      <div class="discount-row">
        <div class="discount-row__circle">
          <svg
            class="discount-row__circle-icon"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 8L20 16L12 24" stroke="#003A91" stroke-width="2" />
          </svg>
        </div>
        <span class="discount-row__text">ЗАКАЗАТЬ ЗАПЧАСТИ</span>
      </div>
      <img class="discount-img" src="img/discount.png" alt="Картинка" />
    </div>