<div class="replace-swiper">
  <span class="replace-swiper_title">Этапы полной замены масла в АКПП</span>
  <div class="replace-slider">
    <div class="replace-slider-el">
      <span class="replace-slider-el__title">1. Запишитесь на удобное время.</span>
      <a href="#" class="replace-slider-el__link"><svg width="64" height="64" viewBox="0 0 64 64" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="32" cy="32" r="32" fill="white" />
          <path d="M28 24L36 32L28 40" stroke="#003A91" stroke-width="2" />
        </svg>
        <span class="replace-slider-el__link-txt">Записаться</span>
      </a>
    </div>
    <div class="replace-slider-el chet">
      <span class="replace-slider-el__title">2. Диагностика состояния АКПП</span>
      <p class="replace-slider-el__txt">
        Мы проверим состояние коробки передач, чтобы выявить любые возможные проблемы до
        начала замены масла.
      </p>
    </div>
    <div class="replace-slider-el">
      <span class="replace-slider-el__title">2. Диагностика состояния АКПП</span>
      <p class="replace-slider-el__txt">
        Мы проверим состояние коробки передач, чтобы выявить любые возможные проблемы до
        начала замены масла.
      </p>
    </div>
    <div class="replace-slider-el chet">
      <span class="replace-slider-el__title">2. Диагностика состояния АКПП</span>
      <p class="replace-slider-el__txt">
        Мы проверим состояние коробки передач, чтобы выявить любые возможные проблемы до
        начала замены масла.
      </p>
    </div>
    <div class="replace-slider-el">
      <span class="replace-slider-el__title">2. Диагностика состояния АКПП</span>
      <p class="replace-slider-el__txt">
        Мы проверим состояние коробки передач, чтобы выявить любые возможные проблемы до
        начала замены масла.
      </p>
    </div>
    <div class="replace-slider-el chet">
      <span class="replace-slider-el__title">2. Диагностика состояния АКПП</span>
      <p class="replace-slider-el__txt">
        Мы проверим состояние коробки передач, чтобы выявить любые возможные проблемы до
        начала замены масла.
      </p>
    </div>
  </div>
</div>


<script>
  $('.replace-slider').slick({
    infinite: false,
    slidesToShow: 3,
    slidesToScroll: 1,
    arrows: false
  });
</script>
