    <div class="whatis">
      <div class="whatis-container">
        <h2 class="whatis-container__title">Что такое диагностика АКПП?</h2>
        <div class="whatis-container__box">
          <h3 class="whatis-container__box-title">
            Профессиональная диагностика
          </h3>
          <p class="whatis-container__box-text">
            Диагностика дает возможность определить износ и повреждение деталей
            АКПП. В зависимости от результатов проверки может быть принято
            решение о необходимости замены или восстановления деталей
            трансмиссии.
          </p>
        </div>
        <div class="whatis-container__box">
          <h3 class="whatis-container__box-title">Программное обеспечение</h3>
          <p class="whatis-container__box-text">
            Наши мастера проводят диагностику АКПП на любых автомобилях.
            Использование современного диагностического оборудования позволяет
            выявить неисправности на ранней стадии и устранить их без больших
            затрат.
          </p>
        </div>
      </div>
      <div class="whatis-advantages">
        <div class="whatis-advantages__item">
          <svg
            class="whatis-advantages__item-icon"
            viewBox="0 0 48 49"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="24"
              cy="24.5"
              r="23"
              fill="#003A91"
              stroke="#5181C9"
              stroke-width="2"
            />
            <path
              d="M14 25.5L22.5 33L35 15.5"
              stroke="white"
              stroke-width="2"
            />
          </svg>
          <span class="whatis-advantages__item-text"
            >Точность и прозрачность<br/>всех наших услуг</span
          >
        </div>
        <div class="whatis-advantages__item">
          <svg
            class="whatis-advantages__item-icon"
            viewBox="0 0 48 49"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="24"
              cy="24.5"
              r="23"
              fill="#003A91"
              stroke="#5181C9"
              stroke-width="2"
            />
            <path
              d="M14 25.5L22.5 33L35 15.5"
              stroke="white"
              stroke-width="2"
            />
          </svg>
          <span class="whatis-advantages__item-text"
            >Профессиональный<br/>подход и надежность<br/>диагностики АКПП</span
          >
        </div>
        <div class="whatis-advantages__item">
          <svg
            class="whatis-advantages__item-icon"
            viewBox="0 0 48 49"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="24"
              cy="24.5"
              r="23"
              fill="#003A91"
              stroke="#5181C9"
              stroke-width="2"
            />
            <path
              d="M14 25.5L22.5 33L35 15.5"
              stroke="white"
              stroke-width="2"
            />
          </svg>
          <span class="whatis-advantages__item-text"
            >Обеспечиваем<br/>высококачественную<br/>диагностику АКПП</span
          >
        </div>
      </div>
      <img class="whatis-img" src="./img/whatIsCircle.png" alt="Картинка" />
    </div>