.consultation {
  width: 100%;
  height: 922px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 96px 48px 0px 48px;
  position: relative;
}

.consultation__img {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.consultation__title {
  font-family: "Stetica";
  font-weight: 500;
  font-style: Medium;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0%;
  color: var(--dark-text);
}

.consultation__info {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  width: 864px;
}

.consultation__txt {
  font-family: "Stetica";
  margin-top: 15px;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  color: var(--dark-text);
  opacity: 64%;
}

.popupFOS__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  row-gap: 32px;
}

.popupFOS__inputs-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 32px;
}

.popupFOS__input {
  height: 64px;
  border: none;
  border-bottom: 1px solid var(--strokeonwhite);
  font-family: "Stetica";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: var(--black-text);
}

.input-row {
  width: calc(50% - 16px);
}

.popupFOS__input::placeholder {
  font-family: "Stetica";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: var(--black-text);
}

.popupFOS__capcha {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.popupFOS__pol-conf {
  max-width: 371px;
  font-family: "Stetica";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1%;
  color: var(--black-text);
  opacity: 64%;
}

.popupFOS__send {
  display: flex;
  background: none;
  border: none;
  column-gap: 18px;
  align-items: center;
  cursor: pointer;
}

.popupFOS__pol-conf-txt {
  font-family: "Stetica";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--black-text);
}


@media (min-width: 1440px) and (max-width: 1920px) {
  .consultation__title {
    font-size: 60px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .consultation__img {
    display: none;
  }

  .consultation {
    flex-direction: column;
    row-gap: 12px;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 40px;
  }

  .consultation__title br {
    display: none !important;
  }

  .dark-cons {
    border-bottom: none;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .consultation__img {
    display: none;
  }

  .consultation__title {
    font-size: 50px;
    line-height: 50px;
  }

  .consultation__info {
    row-gap: 30px;
  }

  .consultation__form,
  .consultation__info {
    width: 100%;
  }

  .consultation {
    flex-direction: column;
    row-gap: 12px;
    height: auto;
    padding: 48px 36px;
  }

  .consultation__title br {
    display: none !important;
  }

  .white-but {
    background-color: var(--white) !important;
  }

  .white-but span {
    color: var(--black-text) !important;
  }

  .blue-circle {
    fill: var(--blue) !important;
  }

  .consultation__txt {
    margin-bottom: -70px;
  }
}

@media (min-width: 440px) and (max-width: 767px) {
  .blue-circle {
    fill: var(--blue) !important;
  }

    .consultation__txt {
    margin-bottom: -70px;
  }

  .consultation__img {
    display: none;
  }

  .consultation__title {
    font-size: 40px;
    line-height: 40px;
  }

  .consultation__txt {
    font-size: 20px;
    line-height: 20px;
  }

  .consultation__info {
    row-gap: 30px;
  }

  .consultation__form,
  .consultation__info {
    width: 100%;
  }

  .consultation {
    flex-direction: column;
    row-gap: 12px;
    height: auto;
    margin-bottom: 0px;
    padding: 48px 16px 40px 16px;
  }

  .consultation__title br {
    display: none !important;
  }

  .white-but {
    background-color: var(--white) !important;
  }

  .white-but span {
    color: var(--black-text) !important;
  }
}

@media (max-width: 439px) {
    .white-but {
    background-color: var(--white) !important;
  }

    .consultation__txt {
   margin-bottom: -70px;
  }

  .white-but span {
    color: var(--black-text) !important;
  }
  .consultation__img {
    display: none;
  }

  .consultation__title {
    font-size: 30px;
    line-height: 30px;
  }

  .consultation__txt {
    font-size: 20px;
    line-height: 20px;
  }

  .consultation__info {
    row-gap: 30px;
  }

  .consultation__form,
  .consultation__info {
    width: 100%;
  }

  .consultation {
    flex-direction: column;
    row-gap: 12px;
    height: auto;
    margin-bottom: 0px;
    padding: 48px 16px 40px 16px;
  }

  .consultation__title br {
    display: none !important;
  }

  .white-but {
    background-color: var(--white);
  }

    .blue-circle {
    fill: var(--blue) !important;
  }
}