.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--black-text);
  position: relative;
}

.footer__text {
  width: 100%;
  height: auto;
  padding: 80px 48px;
  border-bottom: 1px solid #616161;
}

.footer__text--p {
  font-family: "Stetica";
  color: var(--white);
  opacity: 0.64;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px;
  width: 100%;
  height: auto;
}

.footer-container__left {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}

.footer-container__left-logo {
  width: 323px;
  height: 77px;
}

.footer-container__left-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 18px;
  cursor: pointer;
}

.footer-container__left-row-circle {
  width: 64px;
  height: 64px;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container__left-row-circle-icon {
  width: 16px;
  height: 16px;
}

.footer-container__left-row-text {
  font-family: "Stetica";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.footer-container__left-list {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer-container__left-list-item {
  font-family: "Stetica";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1%;
  line-height: 24px;
  color: var(--white);
  opacity: 0.64;
  cursor: pointer;
}

.footer-container__right {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  height: auto;
  max-width: 1209px;
  margin-left: auto;
}

.footer-container__right-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.footer-container__right-row-list {
  display: flex;
  flex-direction: column;
  width: 288px;
  row-gap: 16px;
}

.footer-container__right-row-list-item {
  font-family: "Stetica";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  cursor: pointer;
}

.footer-container__right-row-list-item__small {
  font-family: "Stetica";
  font-weight: 500;
  font-size: 14px;
  margin-top: -8px;
  line-height: 16px;
  opacity: 0.64;
  color: var(--white);
  cursor: pointer;
}

.footer-container__right-line {
  width: 100%;
  height: 1px;
  background: #616161;
}

.footer-container__right-row-item {
  width: 278px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.footer-container__right-row-item-title {
  font-family: "Stetica";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  opacity: 0.64;
}

.footer-container__right-row-item-text {
  font-family: "Stetica";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  cursor: pointer;
}

.footer-container__right-row-item-social {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.footer-container__right-row-item-social-item {
  width: 48px;
  height: 48px;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-container__right-row-item-social-item-icon {
  width: 24px;
  height: 24px;
}

.footer-container__right-text {
  font-family: "Stetica";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  opacity: 0.64;
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .footer__text {
    padding: 60px 48px;
  }

  .footer__text--p {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-container {
    padding: 48px;
  }

  .footer-container__left {
    row-gap: 65px;
  }

  .footer-container__left-logo {
    width: 280px;
    height: 70px;
  }

  .footer-container__left-row {
    column-gap: 18px;
  }

  .footer-container__left-row-circle {
    width: 64px;
    height: 64px;
  }

  .footer-container__left-row-circle-icon {
    width: 16px;
    height: 16px;
  }

  .footer-container__left-row-text {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-container__left-list {
    row-gap: 8px;
  }

  .footer-container__left-list-item {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right {
    row-gap: 32px;
    max-width: 1000px;
  }

  .footer-container__right-row-list {
    width: 288px;
    row-gap: 16px;
  }

  .footer-container__right-row-list-item {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-container__right-row-list-item__small {
    font-size: 14px;
    margin-top: 0px;
    line-height: 16px;
  }

  .footer-container__right-row-item {
    width: 240px;
    row-gap: 12px;
  }

  .footer-container__right-row-item-title {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-container__right-row-item-text {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-container__right-row-item-social {
    column-gap: 12px;
  }

  .footer-container__right-row-item-social-item {
    width: 48px;
    height: 48px;
  }

  .footer-container__right-row-item-social-item-icon {
    width: 24px;
    height: 24px;
  }

  .footer-container__right-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__text {
    padding: 40px 36px;
  }

  .footer__text--p {
    font-size: 16px;
    line-height: 22px;
  }

  .footer-container {
    padding: 36px;
  }

  .footer-container__left {
    row-gap: 50px;
  }

  .footer-container__left-logo {
    width: 220px;
    height: 60px;
  }

  .footer-container__left-row {
    column-gap: 14px;
  }

  .footer-container__left-row-circle {
    width: 48px;
    height: 48px;
  }

  .footer-container__left-row-circle-icon {
    width: 16px;
    height: 16px;
  }

  .footer-container__left-row-text {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__left-list {
    row-gap: 8px;
  }

  .footer-container__left-list-item {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right {
    row-gap: 25px;
    max-width: 75%;
  }

  .footer-container__right-row-list {
    width: auto;
    row-gap: 16px;
  }

  .footer-container__right-row-list-item {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right-row-list-item__small {
    font-size: 14px;
    margin-top: 0px;
    line-height: 16px;
  }

  .footer-container__right-row {
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 25px;
  }

  .footer-container__right-row-item {
    width: auto;
    max-width: 230px;
    row-gap: 12px;
  }

  .footer-container__right-row-item-title {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right-row-item-text {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-container__right-row-item-social {
    column-gap: 12px;
  }

  .footer-container__right-row-item-social-item {
    width: 48px;
    height: 48px;
  }

  .footer-container__right-row-item-social-item-icon {
    width: 24px;
    height: 24px;
  }

  .footer-container__right-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__text {
    padding: 40px 36px;
  }

  .footer__text--p {
    font-size: 16px;
    line-height: 22px;
  }

  .footer-container {
    padding: 36px;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 200px;
  }

  .footer-container__left {
    row-gap: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container__left-logo {
    width: 270px;
    height: auto;
  }

  .footer-container__left-row {
    column-gap: 14px;
    background: white;
    border-radius: 12px;
    padding: 5px 50px;
    flex-direction: row-reverse;
  }

  .footer-container__left-row-circle {
    width: 36px;
    height: 36px;
    background: var(--blue);
  }

  .footer-container__left-row-circle-icon path {
    stroke: #fff !important;
  }

  .footer-container__left-row-circle-icon {
    width: 16px;
    height: 16px;
  }

  .footer-container__left-row-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text);
  }

  .footer-container__left-list {
    position: absolute;
    row-gap: 8px;
    bottom: 40px;
  }

  .footer-container__left-list-item {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right {
    row-gap: 25px;
    max-width: 100%;
  }

  .footer-container__right-row-list {
    width: auto;
    row-gap: 16px;
  }

  .footer-container__right-row-list-item {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right-row-list-item__small {
    font-size: 14px;
    margin-top: 0px;
    line-height: 16px;
  }

  .footer-container__right-row {
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 25px;
  }

  .footer-container__right-row-item {
    width: auto;
    max-width: 230px;
    row-gap: 12px;
  }

  .footer-container__right-row-item-title {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right-row-item-text {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-container__right-row-item-social {
    column-gap: 12px;
  }

  .footer-container__right-row-item-social-item {
    width: 48px;
    height: 48px;
  }

  .footer-container__right-row-item-social-item-icon {
    width: 24px;
    height: 24px;
  }

  .footer-container__right-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 440px) and (max-width: 767px) {
  .footer__text {
    padding: 48px 16px;
  }

  .footer__text--p {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-container {
    padding: 48px 16px;
    flex-direction: column;
    row-gap: 32px;
    padding-bottom: 160px;
  }

  .footer-container__left {
    flex-direction: column;
    row-gap: 40px;
  }

  .footer-container__left-logo {
    width: 170px;
    height: auto;
  }

  .footer-container__left-row {
    column-gap: 14px;
    background: white;
    border-radius: 12px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    flex-direction: row-reverse;
  }

  .footer-container__left-row-circle {
    width: 26px;
    height: 26px;
    background: var(--blue);
  }

  .footer-container__left-row-circle-icon path {
    stroke: #fff !important;
  }

  .footer-container__left-row-circle-icon {
    width: 12px;
    height: 12px;
  }

  .footer-container__left-row-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text);
  }

  .footer-container__left-list {
    position: absolute;
    row-gap: 8px;
    bottom: 40px;
  }

  .footer-container__left-list-item {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-container__right {
    row-gap: 16px;
    max-width: 100%;
  }

  .footer-container__right-row-list {
    width: 100%;
    row-gap: 12px;
    border-bottom: 1px solid #616161;
    padding-bottom: 12px;
  }

  .footer-container__right-row-list:nth-last-of-type(1)
    .footer-container__right-row-list-item {
    border-bottom: 1px solid #616161;
    padding-bottom: 12px;
  }

  .footer-container__right-row-list:nth-last-of-type(2)
    .footer-container__right-row-list-item {
    border-bottom: 1px solid #616161;
    padding-bottom: 12px;
  }

  .footer-container__right-row-list:nth-last-of-type(1),
  .footer-container__right-row-list:nth-last-of-type(2) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-container__right-row-list-item {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right-row-list-item__small {
    font-size: 14px;
    margin-top: 0px;
    line-height: 16px;
  }

  .footer-container__right-row {
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 20px;
  }

  .footer-container__right-row:nth-of-type(1) {
    order: 2;
    row-gap: 12px;
  }

  .footer-container__right-row-item {
    width: 100%;
    max-width: 100%;
    row-gap: 8px;
  }

  .footer-container__right-row-item-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .footer-container__right-row-item-text {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right-row-item-social {
    column-gap: 12px;
  }

  .footer-container__right-row-item-social-item {
    width: 32px;
    height: 32px;
  }

  .footer-container__right-row-item-social-item-icon {
    width: 17px;
    height: 17px;
  }

  .footer-container__right-text {
    font-size: 12px;
    line-height: 16px;
    order: 3;
  }

        .chat {
  right: 16px !important;
  top: -26px !important;
  width: 56px !important;
  height: 56px !important;
}
}

@media (max-width: 439px) {
      .chat {
  right: 16px !important;
  top: -26px !important;
  width: 56px !important;
  height: 56px !important;
}

  .footer__text {
    padding: 48px 16px;
  }

  .footer__text--p {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-container {
    padding: 48px 16px;
    flex-direction: column;
    row-gap: 32px;
    padding-bottom: 160px;
  }

  .footer-container__left {
    flex-direction: column;
    row-gap: 40px;
  }

  .footer-container__left-logo {
    width: 170px;
    height: auto;
  }

  .footer-container__left-row {
    column-gap: 14px;
    background: white;
    border-radius: 12px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    flex-direction: row-reverse;
  }

  .footer-container__left-row-circle {
    width: 26px;
    height: 26px;
    background: var(--blue);
  }

  .footer-container__left-row-circle-icon path {
    stroke: #fff !important;
  }

  .footer-container__left-row-circle-icon {
    width: 12px;
    height: 12px;
  }

  .footer-container__left-row-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text);
  }

  .footer-container__left-list {
    position: absolute;
    row-gap: 8px;
    bottom: 40px;
  }

  .footer-container__left-list-item {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-container__right {
    row-gap: 16px;
    max-width: 100%;
  }

  .footer-container__right-row-list {
    width: 100%;
    row-gap: 12px;
    border-bottom: 1px solid #616161;
    padding-bottom: 12px;
  }

  .footer-container__right-row-list:nth-last-of-type(1)
    .footer-container__right-row-list-item {
    border-bottom: 1px solid #616161;
    padding-bottom: 12px;
  }

  .footer-container__right-row-list:nth-last-of-type(2)
    .footer-container__right-row-list-item {
    border-bottom: 1px solid #616161;
    padding-bottom: 12px;
  }

  .footer-container__right-row-list:nth-last-of-type(1),
  .footer-container__right-row-list:nth-last-of-type(2) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-container__right-row-list-item {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right-row-list-item__small {
    font-size: 14px;
    margin-top: 0px;
    line-height: 16px;
  }

  .footer-container__right-row {
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 20px;
  }

  .footer-container__right-row:nth-of-type(1) {
    order: 2;
    row-gap: 12px;
  }

  .footer-container__right-row-item {
    width: 100%;
    max-width: 100%;
    row-gap: 8px;
  }

  .footer-container__right-row-item-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .footer-container__right-row-item-text {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-container__right-row-item-social {
    column-gap: 12px;
  }

  .footer-container__right-row-item-social-item {
    width: 32px;
    height: 32px;
  }

  .footer-container__right-row-item-social-item-icon {
    width: 17px;
    height: 17px;
  }

  .footer-container__right-text {
    font-size: 12px;
    line-height: 16px;
    order: 3;
  }
}
