.header {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    flex-direction: row;
    height: 128px;
    column-gap: 40px;
    background-color: var(--white);
    z-index: 100;
}

.header-logo {
    cursor: pointer;
    width: 215px;
    height: 128px;
    background: var(--blue);
    display: flex;
    justify-content: center;
    padding-top: 60px;
    z-index: 100;
}

.header-logo__img {
    width: 182px;
    height: 44px;
}

.header-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    background-color: var(--white);
}

.header-container__top {
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-container__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 196px;
}

.header-container__top-row-item {
    font-weight: 400;
    font-family: 'Stetica';
    font-size: 18px;
    line-height: 24px;
    color: var(--black-text);
    cursor: pointer;
}

.header-container__top-row-icon {
    width: 12px;
    height: 6px;
    cursor: pointer;
}

.header-container__top-container {
    display: flex;
    align-items: center;
    column-gap: 80px;
    height: 100%;
    align-items: center;
}

.header-container__top-container-item {
    font-weight: 400;
    font-family: 'Stetica';
    font-size: 18px;
    line-height: 24px;
    color: var(--black-text);
    cursor: pointer;
}

.header-container__top-container-button {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border: none;
    background: var(--blue);
    cursor: pointer;
    width: 196px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header-container__top-container-button-text {
    font-weight: 500;
    font-family: 'Stetica';
    font-size: 16px;
    line-height: 16px;
    color: var(--white);
}

.header-container__top-container-button-circle {
    width: 32px;
    height: 32px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container__top-container-button-circle-icon {
    width: 16px;
    height: 16px;
}

.header-container__bottom {
    height: 50%;
    display: flex;
    align-items: center;
    column-gap: 33px;
    cursor: pointer;
}

.header-container__bottom-item {
    font-weight: 400;
    height: 100%;
    font-family: 'Stetica';
    font-size: 18px;
    line-height: 24px;
    color: var(--black-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 196px;
    cursor: pointer;
    border-top: 1px solid #D4D4D4;
}

.header-container__bottom-item-icon {
    width: 12px;
    height: 6px;
}

.open-block-header {
    width: 100%;
    height: 680px;
    background-color: var(--white);
    position: absolute;
    top: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px;
    left: 0px;
    top: -200%;
    transition: top 0.5s ease;
    z-index: 12;
}

.open-block-header__right {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--strokeonwhite);
    max-width: 592px;
}

.open-block-header__right-top {
    position: relative;
    width: 100%;
    height: 400px;
}

.open-block-header__right-top-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.open-block-header__right-top svg {
    position: absolute;
    top: 32px;
    left: 32px;
}

.open-block-header__right-top-term {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 8px 32px;
    background-color: var(--blue);
    font-family: "Stetica";
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--white);
}

.open-block-header__right-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 32px;
}

.open-block-header__right-bottom-title {
    font-family: "Stetica";
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--black-text);
}

.open-block-header__right-bottom-txt {
    font-family: "Stetica";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--black-text);
    opacity: 64%;
}

.services-header,
.repair-header,
.akpp-header,
.diagnostic-header {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 287px;
}

.services-header__title {
    font-family: "Stetica";
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--black-text);
}

.services-header__page {
    display: flex;
    flex-direction: row;
    height: 56px;
    align-items: center;
    padding: 0px 12px;
    justify-content: space-between;
    cursor: pointer;
}

.services-header__page-txt {
    font-family: "Stetica";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1%;
    color: var(--black-text);
}

.open-block-header__left {
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    height: 448px;
}

.megamunu-header__line {
    height: 100%;
    width: 0px;
    border: 0.5px solid var(--strokeonwhite);
}

.dispnone {
    display: none;
}

.dark-header {
    background-color: var(--black-text);
}

.dark-headers {
    background-color: var(--black-text);
}

#repair {
    display: flex;
}

.white-txt {
    color: var(--white);
}

.white-line {
    border-color: var(--strokeonwhite);
}

.menu-active {
    background-color: #F9F9FA;
}

.header-mobile,
.burger-active {
    display: none;
}

@media screen and ((min-width: 1440px) and (max-width: 1920px)) {
    .header {
        width: 100vw;
        box-sizing: border-box;
    }

    .header-container__bottom {
        column-gap: 20px;
    }

    .header-container__bottom-item,
    .header-container__top-row {
        width: auto;
        flex: 1;
        max-width: 13.5%;
    }

    .header-container__top-container {
        column-gap: 30px;
    }
}

@media screen and ((min-width: 1024px) and (max-width: 1440px)) {
    .header {
        width: 100vw;
        box-sizing: border-box;
    }

        .header-container__top-container {
        column-gap: 30px;
    }

    .header-container__bottom {
        column-gap: 20px;
    }

    .header-container__bottom-item,
    .header-container__top-row {
        width: auto;
        flex: 1;
        max-width: 13.5%;
    }

    .header {
        padding: 0px 16px;
        column-gap: 16px;
    }

    .header-container__bottom {
        column-gap: 10px;
    }

    .header-container__bottom-item {
        column-gap: 5px;
    }

    .header-container__bottom-item,
    .services-header__page-txt,
    .header-container__top-row-item,
    .header-container__top-container-item {
        font-size: 14px;
    }

    .header-container__top {
        column-gap: 16px;
    }
}

@media screen and (max-width: 1023px) {

    .header,
    .header-dark {
        display: none !important;
    }

    .header-mobile {
        display: flex;
        flex-direction: row;
        padding: 20px 16px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: var(--blue);
        position: relative;
    }

    .header-mobile__burger {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        align-items: center;
        cursor: pointer;
        border: none;
        background: none;
    }

    .header-mobile__burger-txt {
        font-family: "Stetica";
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: var(--white);
    }

    .burger-active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 100%;
        background-color: var(--white);
        padding: 24px 16px 40px 16px;
        row-gap: 24px;
        z-index: 100;
    }

    .burger-active__blocks-link {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .burger-active__blocks-link-title {
        font-family: "Stetica";
        font-weight: 500;
        font-style: Medium;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0%;
        color: var(--black-text);
    }

    .burger-active__links {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    .burger-active__link {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40px;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
    }

    .burger-active__link-txt {
        font-family: "Stetica";
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1%;
        color: var(--black-text);
    }

    .header-mobile__line {
        width: 100%;
        height: 0px;
        border: 1px solid var(--strokeonwhite);
    }

    .header-mobile__town {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
    }

    .header-mobile__town-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-mobile__town-txt {
        font-family: "Stetica";
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        color: var(--black-text);
        opacity: 64%;
    }

    .header-mobile__town-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--strokeonwhite);
        height: 40px;
    }

    .header-mobile__town-choise-txt {
        font-family: "Stetica";
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1%;
        color: var(--black-text);
    }

    .header-mobile__town-main-txt {
        font-family: "Stetica";
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -1%;
        color: var(--black-text);
    }

    .header-mobile__button {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        padding: 11px 0px;
        justify-content: center;
        border: none;
        background-color: #003A91;
        border-radius: 12px;
        align-items: center;
    }

    .header-mobile__button-txt {
        font-family: "Stetica";
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: var(--white);
        cursor: pointer;
    }

    .remont-mobile {
        z-index: 1000;
    }

    .burger-active__back {
        display: flex;
        flex-direction: row;
        column-gap: 6px;
        align-items: center;
    }

    .burger-active {
        display: none;
    }

    .burger-active.active {
        display: flex;
    }

    .back-mobile {
        display: none;
    }

    .back-remont,
    .back-zamena {
        cursor: pointer;
    }
}