:root {
    --black: #000;
    --white: #fff;
    --blue: #003A91;
    --lightblue: #4771B0;
    --black-text: #303538;
    --gray: #C5C6C7;
    --strokeonwhite: #D4D4D4;
    --strokeonblack: #616161;
    --bgray: #F9F9FA;
    --hoverblue: #003A9114;
    --bgcardsonblack: #FFFFFF14;
}